---
import App from '../layouts/app.astro';
---

<App>
    <h1>Ryano Uijdens</h1>
    <div>
        <p>I am Ryano Uijdens, currently a second year student at Thomas More Geel. 
            My interest mainly lies in software- and web development with a preference 
            for Java and the back-end. I have also worked with PHP, Python, C# and many 
            other languages. I'm always interested in learning new languages, frameworks 
            or stacks, which is one of the reasons I made this website with Astro</p>
    </div>
    <div>
        <h2>Hobbies</h2>
        <li>Reading</li>
        <li>Magic: the Gathering</li>
        <li>Dungeons & Dragons</li>
        <li>Watching Motorsports</li>
        <li>Listening to Music</li>
        <li>Linux</li>
    </div>
    <div>
        <h2>Why I chose IT</h2>
        <p>As said in the short introduction on the home page, it was in the 5th year 
            of high school that I first gained an interest in IT. In hindsight, I'm 
            actually glad I had to redo the year, as otherwise I would've probably 
            never come into contact with the IT sector, and would likely be studying 
            for something I'm not truly interested in. When I started accounting & IT 
            I was skeptical at first, I'd had brief contact with IT before in school, 
            but it didn't go so well. However it was explained much better this time 
            and I found everything to be pretty intuitive. Furthermore, I also enjoyed 
            making the small application we were making in Visual Studio at the time. 
            I earned great points on my first exam and from then I was certain that was 
            the right path for me. I continued scoring great on every following exam and 
            after I graduated I quickly made the choice to continue my studies at Thomas More.</p>
    </div>
    <div>
        <h2>Future Dreams</h2>
        <p>My dreams for the future are pretty simple, all I want is a family and a house.</p>
    </div>
    <div>
        <h2>Professional Ambitions</h2>
        <p>I'd like to work with Java and Linux of possible and when it comes to ambitions
             I don't wish to become CEO or anything. All I want is a livable wage and a good 
             work-life balance</p>
    </div>
    <div>
        <h2>CV</h2>
        <p>You can download my CV here: <a href="/cv.pdf" target="_blank">Download CV</a></p>
    </div>
    <div>
        <h2>Skills</h2>
        <li>Python</li>
        <li>Java</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>PHP</li>
        <li>C#</li>
        <li>Linux</li>
        <li>Teamwork</li>
        <li>Communication</li>
        <li>Problem Solving</li>

    </div>
</App>

<style>
    li {
        list-style: none;
    }
</style>