---
import App from '../layouts/app.astro';
---

<App>
    <h1>Ryano Uijdens</h1>
    <h2>Introduction</h2>
    <h2>Hobbies</h2>
    <h2>Why I chose IT</h2>
    <h2>Futurre Dreams</h2>
    <h2>Proffesional Ambitions</h2>
    <h2>CV</h2>
    <h2>Skills in html (including soft skills)</h2>
</App>