---
import App from "../layouts/app.astro"
---

<App>
	<h1>Ryano Uijdens</h1>
	<p>
		Hello! On this website you can find everything you need to know about me, visit the 'about me' page for more information about what drives me, what interests me and 
		what I'm interested in. You can also visit the 'projects' page to see everything I've accomplished so far. Contact information is also on the about me page!
	</p>
	<hr>
	<p>
		To make the long story (found on the 'about me' page) short, my love for IT started in the 5th year of high school. I'd just flunked economy and several other 
		subject, mostly because none of those subjects interested me in the slightest. I was in a rut as to what to do, nothing seemed particularly interesting. That 
		was until a teacher suggested I switch to the course 'accounting-IT', seeing no downsides I took her up on the offer. After starting the new year I quickly 
		realized IT was the field for me, I was actually interested in the lessons for once, and it also seemed I had a knack for it.
	</p>
	<p>
		Two years later I graduated with higher points than I ever had in my first 5 years, and chose Thomas More Geel as the next step in my education, which is where I still currently study.
	</p>
</App>