---
import Navbar from "../pages/components/navbar.astro"
import Footer from "../pages/components/footer.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} /> <!-- To display current astro version -->
        <link rel="icon" type="svg" href="/favicon.svg" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
		<title>Ryano Uijdens</title>
	</head>
	<body>
        <main>
            <Navbar></Navbar>
            <div class="content-container">
                <slot></slot>
            </div>
        </main>

        <Footer></Footer>
	</body>
</html>

<style>
    body{
        /* Throughout the css styling and behavior stuff will be seperate when a selector has enough properties
        to increase readability. */
        font-family: "Comfortaa", "Nunito", sans-serif;
        background-color: #e5eaf5;
        font-size: 1.1rem;

        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px){
            font-size: 1rem;
        }
    }

    main{
        flex: 1;
        padding: 1rem;
        text-align: center;
        width: 100%;
        margin: 1rem auto;

        @media (min-width: 768px){
            padding: 0;
            max-width: 60%;
        }
    }

    .content-container{
        border: gray solid 1px;

        padding: 1rem;
    }
</style>